@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CuteThin";
  src: url("/fonts/CuteThin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MNPancake";
  src: url("/fonts/MN Pancake.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MNYaHom";
  src: url("/fonts/MN YaHom.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RocketThin";
  src: url("/fonts/RocketThin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Scriphy";
  src: url("/fonts/Scriphy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "MNYaHom", sans-serif;
  scroll-behavior: smooth;
  transition: all 100ms;
}

::selection {
  background-color: #ffff7a;
  color: black;
}
